tesi*/
e_journals*/
logs/
save*/
tmp/
zip/
.vscode/
*.old
*.log
*.srt
*.ids
*.txt
*.save
*.tmp
etd.csv
e_journals.csv
run_tesi.sh
run_riviste.sh
run.sh
# --------------
*_env.cfg
scripts/*_env.con
scripts/*_env.dev.con

harvest.code-workspace
