tesi*/
e_journals*/
logs/
save*/
tmp/
zip/
.vscode/
*.old
*.log
*.srt
*.ids
*.txt
etd.csv
e_journals.csv
run_tesi.sh
run_riviste.sh
run.sh
# --------------
run_env.cfg
scripts/DbUpload_env.con
scripts/DbUpdateInsert_env.con
scripts/DbUpdateInsert_env.dev.con
harvest.code-workspace
