check_harvest_01_26-08_05*/
tesi*/
e_journals*/
logs/
save*/
tmp/
zip/
.vscode/
*.old*
*.log
*.srt
*.ids
*.txt
*.out
*.save
*.hide
*upd_ins

csv/sw_login.csv

#*.jar
bin/aws-java-sdk-1.11.856.jar
bin/commons-codec-1.11.jar
bin/commons-logging-1.2.jar
bin/httpclient-4.5.9.jar
bin/httpcore-4.4.11.jar
bin/jackson-annotations-2.11.1.jar
bin/jackson-core-2.11.1.jar
bin/jackson-databind-2.11.1.jar
bin/joda-time-2.10.6.jar
bin/jdbcDrivers/mysql-connector-java-8.0.13.jar

*.save*
*.tmp*
etd.csv
etd_last_harvest_date.csv
etd_last_harvest_date_messuti.csv
e_journals_last_harvest_date.csv
e_journals_last_harvest_date_messuti.csv
e_journals.csv
etd_sources_2019_storti.tsv
run_tesi.sh
run_riviste.sh
run.sh
# --------------
*_env.cfg
scripts/*_env.con
scripts/*_env.dev.con
scripts/*sql
harvest.code-workspace


