# configura il modo di trattate i campi per l'upload
# N = Campo numerico. Non appore gli apici prima e dopo il campo ''
# S = Campo di tipo stringa. Apporre gli apici prima e dopo il campo ''
# T = timestamp
# C = contatore
# D = date
#---------------------------------------------------
#---------------------------------------------------

# Cancellazione dei record che potrebbero non essere piu\ sotto embargo!!!
[embargo]
DELETE FROM embargo where oai_id = ?0 
s,s,s


